/* Slider Of Header */

/* 1- Left To Right */
@keyframes slider {
  0% {
    margin-left: 0%;
  }

  4% {
    margin-left: 0%;
  }

  16% {
    margin-left: 0%;
  }

  36% {
    margin-left: -100%;
  }

  50% {
    margin-left: -100%;
  }

  68% {
    margin-left: -100%;
  }

  86% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  }
}

@-o-keyframes slider {
  0% {
    margin-left: 0%;
  }

  4% {
    margin-left: 0%;
  }

  16% {
    margin-left: 0%;
  }

  36% {
    margin-left: -100%;
  }

  50% {
    margin-left: -100%;
  }

  68% {
    margin-left: -100%;
  }

  86% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  }
}

@-moz-keyframes slider {
  0% {
    margin-left: 0%;
  }

  4% {
    margin-left: 0%;
  }

  16% {
    margin-left: 0%;
  }

  36% {
    margin-left: -100%;
  }

  50% {
    margin-left: -100%;
  }

  68% {
    margin-left: -100%;
  }

  86% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  }
}

@-webkit-keyframes slider {
  0% {
    margin-left: 0%;
  }

  4% {
    margin-left: 0%;
  }

  16% {
    margin-left: 0%;
  }

  36% {
    margin-left: -100%;
  }

  50% {
    margin-left: -100%;
  }

  68% {
    margin-left: -100%;
  }

  86% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  }
}

/* 2- Right To Left */
@keyframes sliderrtl {
  0% {
    margin-right: 0%;
  }

  4% {
    margin-right: 0%;
  }

  16% {
    margin-right: 0%;
  }

  36% {
    margin-right: -100%;
  }

  50% {
    margin-right: -100%;
  }

  68% {
    margin-right: -100%;
  }

  86% {
    margin-right: -200%;
  }

  100% {
    margin-right: -200%;
  }
}

@-o-keyframes sliderrtl {
  0% {
    margin-right: 0%;
  }

  4% {
    margin-right: 0%;
  }

  16% {
    margin-right: 0%;
  }

  36% {
    margin-right: -100%;
  }

  50% {
    margin-right: -100%;
  }

  68% {
    margin-right: -100%;
  }

  86% {
    margin-right: -200%;
  }

  100% {
    margin-right: -200%;
  }
}

@-moz-keyframes sliderrtl {
  0% {
    margin-right: 0%;
  }

  4% {
    margin-right: 0%;
  }

  16% {
    margin-right: 0%;
  }

  36% {
    margin-right: -100%;
  }

  50% {
    margin-right: -100%;
  }

  68% {
    margin-right: -100%;
  }

  86% {
    margin-right: -200%;
  }

  100% {
    margin-right: -200%;
  }
}

@-webkit-keyframes sliderrtl {
  0% {
    margin-right: 0%;
  }

  4% {
    margin-right: 0%;
  }

  16% {
    margin-right: 0%;
  }

  36% {
    margin-right: -100%;
  }

  50% {
    margin-right: -100%;
  }

  68% {
    margin-right: -100%;
  }

  86% {
    margin-right: -200%;
  }

  100% {
    margin-right: -200%;
  }
}

/* Slider Of Products */

/* 1- Left To Right */
@keyframes rotationltr {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

@-o-keyframes rotationltr {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

@-moz-keyframes rotationltr {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

@-webkit-keyframes rotationltr {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

/* 2- Right To Left */
@keyframes rotationrtl {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@-o-keyframes rotationrtl {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@-moz-keyframes rotationrtl {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@-webkit-keyframes rotationrtl {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}